table {
  border-collapse: separate;
  border-spacing: 2px;
  margin: 24px auto;
  min-width: 400px;
}

table tr {
  text-align: center;
  background: #f8f9fa;
}

table th,
table td {
  padding: 8px 12px;
}

blockquote {
  background: #f8f9fa;
  font-style: italic;
  padding: 24px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

pre:has(code.hljs) {
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
